@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: url(img/jumbo.png);
}

header .row div[class^="col"] {
    float: left;
}

header .col-left .logo {
    width: 100px;
    margin: calc((65px - 28px) / 2) 0;
}

header .col-nav {
    width: calc(100% - 100px - 56px - 205px - 185px);
    margin: 0 205px 0 185px;
}

header .col-nav li {
    float: left;
    line-height: 65px;
    color: white;
    font-size: 11px;
    width: 20%;
    font-weight: 500;
}

header .col-right {
    margin: calc((65px - 25px)/2) 0;
}

header .col-right .log-in {
    background-color: white;
    font-size: 11px;
    padding: 7px 11px;
    border-radius: 12px;
}







/* DEBUG */

.debug .container {
    border: 1px dashed red;
}

.debug .col-nav {
    border: 1px dashed green;
}