@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: url(img/jumbo.png);
    background-size: cover;
    color: white;
}

header .row.clearfix div[class^="col"] {
    float: left;
}

.col-left .logo {
    width: 100px;
    margin: calc((65px - 28px) / 2) 0;
}

header .col-nav {
    width: calc(100% - 100px - 62px - 155px - 135px);
    margin: 0 155px 0 135px;
}

header .col-nav li {
    float: left;
    line-height: 65px;
    font-size: 14px;
    width: 20%;
    font-weight: 500;
}

.col-right {
    margin: calc((65px - 25px)/2) 0;
}

header .col-right .log-in {
    background-color: white;
    color: black;
    font-size: 13px;
    padding: 7px 11px;
    border-radius: 25px;
}

header h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

header p {
    margin-bottom: 27px;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
}

header .container .row:nth-child(2) {
    padding: 90px 170px 130px 170px;
}

.actions .download {
    color: black;
    margin-right: 23px;
    background-color: white;
    padding: 9px 13px;
    border-radius: 25px;
    font-size: 15px ;
}

.actions .open-browser {
    background-color: #23272A;
    padding: 9px 13px;
    border-radius: 25px;
    font-size: 15px ;
}


#section-2 , #section-4 {
    background: #F6F6F6;
}

section .col-8 img {
    max-width: 530px;
}

section .col-4 {
    width: calc(100% - 530px);
}

section h2 {
    color: #23272A;
    font-size: 40px;
    margin-bottom: 25px;
}

section h3 {
    color: #23272A;
    font-size: 25px;
    margin-bottom: 25px;
}

section p {
    color: #23272A;
    margin-bottom: 27px;
    line-height: 25px;
    font-weight: 400;
    font-size: 18px;
}

#section-1 {
    padding-top: 130px;
}

#section-1 .col-4 {
    margin: 30px 0 110px 0;
    padding-left: 130px;
}

#section-2 {
    padding-top: 220px;
}

#section-2 .col-4 {
    margin: 30px 0 275px 0;
    padding-right: 130px;
}

#section-3 {
    padding-top: 140px;
}

#section-3 .col-4 {
    margin: 30px 0 185px 0;
    padding-left: 130px;
}

#section-4 {
    padding-bottom: 115px;
}

#section-4 h2 {
    padding-top: 180px;
}

#section-4 .col-12 img{
    max-width: 100%;
}

#section-4 .stars {
    background: url("img/stars.svg") no-repeat;
    background-color: #F6F6F6;
    background-position: center;
    line-height: 60px;
}

#section-4 .row .download {
    color: white;
    font-weight: 500;
    background-color: #8EA1E1;
    padding: 9px 13px;
    border-radius: 25px;
    font-size: 15px;
}

div.wave {
    width: 100%;
    height: 50px;
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask: url(img/wave.svg);
    mask: url(img/wave.svg);
}

footer {
    background-color: #23272A;
}

footer .row:first-child{
    padding-top: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid #7289DA;
    margin-bottom: 25px;
}

footer .col-4 {
    width: calc(100% / 3 - 80px);
}

footer .col-2 {
    width: calc(100% / 6);
    margin-left: 20px;
}

footer h3 {
    color: #7289DA;
    font-size: 25px;
    margin-bottom: 20px;
}

footer select {
    outline: 0;
    box-shadow: none;
    border: 0;
    background: #23272A;
    color: #fff;
    margin-bottom: 18px;
}

footer .social li {
    float: left;
    color: white;
    margin-right: 20px;
}

footer .col-2 li:first-child {
    color: #7289DA;
}

footer ul li {
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

footer .col-right .register {
    background-color: #7289DA;
    color: white;
    font-size: 13px;
    padding: 7px 11px;
    border-radius: 25px;
}
 

/* DEBUG */

.debug .container {
    border: 1px dashed red;
}

